*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #00b3b3
}
.wrapper {	
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}

.form-signin button{
    margin : 25px 0;
}
.form-signin ul{
    list-style: none
}
#main-content{
    background-color: white;
    max-width: 380px;
}